@import "tailwindcss";

@layer theme, base, components, utilities;

@layer utilities {
  .container {
    margin: auto;
    max-width: 1100px;
    padding: 6px;
  }
  .brand-color {
    color: #ff6700;
  }
  .bg-secondary {
    background-color: #343131;
  }
}

@layer base {
  img {
    max-width: 100%;
  }
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-main: #ff6700;
  --breakpoint-3xl: 1920px;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1); /* ... */
}

:root {
  --brand-color: #ff6700;
  --black-color: #000;
}

.container:hover .circleContainer {
  transform: translateY(-50%) translateX(0); /* Move into view */
  opacity: 1;
}

.container:hover .circle {
  transform: scale(1); /* Expand into view */
}

body {
  font-family: "Inter", serif;
  background-color: var(--black-color);
}

h1 {
  font-family: "Montserrat", serif;
}

.button-icon-hand {
  opacity: 0;
}

.button-icon-hand:hover {
  opacity: 1;
}

/* Black background with orange dots */
.custom-bg-black {
  background: linear-gradient(
    to bottom,
    #000,
    #ff6700
  ); /* Black to Orange gradient */
  background-image: radial-gradient(rgba(255, 103, 0, 0.6) 1px, transparent 0);
  background-size: 80px 80px;
  background-position: -19px -19px;
}

/* Orange background with black dots */
.custom-bg-orange {
  background: linear-gradient(
    to bottom,
    #dfd7d7,
    #ff6700
  ); /* Black to Orange gradient */
  background-image: radial-gradient(rgba(0, 0, 0, 0.6) 1px, transparent 0);
  background-size: 80px 80px;
  background-position: -19px -19px;
  background-color: #ff6700;
}

.section--mockup-laptop {
  position: relative;
  padding: 20px; /* Adjust padding as needed */
  border-right: solid 3px var(--brand-color);
}

.section--mockup-laptop::before,
.section--mockup-laptop::after {
  content: "";
  position: absolute;
}

/* Vertical Line */
.section--mockup-laptop::before {
  width: 100px;
  height: 3px; /* Adjust height */
  top: 0;
  right: 0;
  background-color: var(--brand-color);
}

/* Horizontal Line */
.section--mockup-laptop::after {
  width: 100px; /* Adjust width */
  height: 3px;
  bottom: 0;
  right: 0;
  background-color: var(--brand-color);
}

.icon {
  position: relative;
  display: inline-block; /* Ensure it behaves as a container */
  padding: 10px; /* Adjust padding for better effect */
  overflow: hidden; /* Prevents shine effect from overflowing */
  border-radius: 8px; /* Optional: Smooth edges */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* Hover Glow Effect */
.icon:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

/* Shine Effect */
.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms ease-in-out;
}

.icon:hover::before {
  left: 100%;
}

/* Hero image wave */
.wave {
  background-image: url("/wavesOpacity.svg");
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  line-height: 0;
  transform: rotate(180deg);
}

.section-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust height */
  background-image: url("/wave-divider.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.customer-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.flip-vertical {
  transform: scaleY(-1);
}

/* custom grid system 12 grids */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  width: 100%;
}

.col-five {
  grid-column: span 5;
}

.col-two {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-four {
  grid-column: span 4;
}
.col-six {
  grid-column: span 6;
}

.col-eight {
  grid-column: auto / span 8;
}

.col-twelve {
  grid-column: span 12;
}

.clipped-image {
  position: relative;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

@keyframes waveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Media queries */
@media (max-width: 768px) {
  .section--mockup-laptop::before {
    top: unset; /* Remove top positioning */
    bottom: 0; /* Move to the bottom */
    right: 1; /* Move to the left */
    width: 3px; /* Make it a vertical line */
    height: 100px; /* Adjust height */
  }

  .section--mockup-laptop::after {
    bottom: 1; /* Remove right positioning */
    left: 0; /* Move to the left */
    width: 3px;
    height: 100px;
  }

  .section--mockup-laptop {
    border-bottom: 3px solid;
  }
}

/* Sam fisher reference */
.circleContainer {
  position: absolute;
  left: -20px; /* Start hidden to the left */
  top: 50%;
  transform: translateY(20%) translateX(10px); /* Slightly offscreen */
  opacity: 0; /* Initially invisible */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  width: 20px;
  height: 10px;
}

.circle {
  width: 5px;
  height: 5px;
  background-color: #aaff00; /* Bright green color */
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgba(170, 255, 0, 0.5); /* Green glow effect */
  position: absolute;
  transform: scale(0.6); /* Start smaller */
  transition: transform 0.4s ease-out;
}

/* Triangle formation */
.circle:nth-child(1) {
  /* Top */
  top: 0;
  left: 40%;
  transform: translateX(-50%);
}

.circle:nth-child(2) {
  /* Bottom-left */
  bottom: 0;
  left: 0;
}

.circle:nth-child(3) {
  /* Bottom-right */
  bottom: 0;
  right: 0;
}
